# Keep node_modules directory but ignore contents
node_modules/*
!node_modules/.gitkeep

# Keep downloads directory but ignore contents
downloads/*
!downloads/.gitkeep

# Keep public/img directory but ignore contents except no_thumbnail.jpg
public/img/*
!public/img/.gitkeep
!public/img/no_thumbnail.jpg

# Other files to ignore
www.youtube.com_cookies.txt
webserver.workspace.code-workspacebackup_.css
backup_.css
.env

# Files to keep in repo
# Be sure to remove your keys before you push changes to your repo
!package-lock.json